@model IEnumerable<Mel_TPI.Models.Lesson>
@using Mel_TPI.Areas.Identity.Data;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Mel_TPIUser> SignInManager
@inject UserManager<Mel_TPIUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Lessons</h1>

<form asp-controller="Lessons" asp-action="Index" method="get" role="search">
    <input type="text" style="border-radius: 10px;" placeholder="Search Lessons.." name="SearchString" />
    <button class="btn btn-outline-dark" type="submit">Search</button>
</form>

@if(SignInManager.IsSignedIn(User) && UserManager.GetUserAsync(User).Result.UserName == "admin@aiteesmusicstudio.com")
{
    <p>
        <a style="color: black;" asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.FirstName)
            </td>
                @if (SignInManager.IsSignedIn(User) && UserManager.GetUserAsync(User).Result.UserName == "admin@aiteesmusicstudio.com")
                {
                    <td>

                        <a style="color: black;" asp-action="Edit" asp-route-id="@item.LessonID">Edit</a> |
                        <a style="color: black;" asp-action="Details" asp-route-id="@item.LessonID">Details</a> |
                        <a style="color: black;" asp-action="Delete" asp-route-id="@item.LessonID">Delete</a>
                    </td>
                }
        </tr>
}
    </tbody>
</table>
